body {
  font-family: Arial, sans-serif;
  font-size: 16px;
}

header {
  background-color: #cccccc;
}

nav {
  background-color: #aaaaaa;
}

main {
  background-color: #eeeeee;
  font-size: 18px;
}

footer {
  background-color: #cccccc;
}

li {
  display: inline-block;
  width: 100px;
}

h1 {
  text-align: center;
  font-family: Georgia, serif;
  color: #333333;
}

p {
  line-height: 1.6;
}
